---
title: heymrbass.com
---

<div class="slice one">
  <div class="content">
    <%= image_tag "me.jpg", id: "me" %>

    <h2>
      Hi, I'm<br />
      Dan Bergren.
    </h2>

    <h3>
      game dev | software dev
    </h3>
  </div>
</div>

<div class="slice two">
  <div class="content">
    <%= image_tag "computer.jpg", id: "computer" %>
    <p>
      I'm a software developer at <%= link_to "Frontline Education", "https://www.frontlineeducation.com/Home.html" %>
      and a CS grad student at <%= link_to "DePaul University", "http://www.cdm.depaul.edu/Pages/default.aspx" %>.
    </p>

    <p>
      I also enjoy working on <%= link_to "open-source projects", "https://apps.heymrbass.com" %>.
    </p>
  </div>
</div>

<div class="slice three">
  <div class="content">
    <p>
    If you need to contact me or just want to say hello, you can find me on
    <%= link_to "Twitter", "https://twitter.com/heymrbass" %> or you can shoot
    me an <%= link_to "email", "dan@heymrbass.com" %>. Cheers!
    </p>
  </div>
</div>
