---
title: heymrbass.com
---

<div class="slice one">
  <div class="content">
    <%= image_tag "me.jpg", id: "me" %>

    <h2>
      Hi, I'm<br />
      Dan Bergren.
    </h2>

    <h3>
      maths | software dev
    </h3>
  </div>
</div>

<div class="slice two">
  <div class="content">
    <%= image_tag "computer.jpg", id: "computer" %>
    <p>
      I'm currently a software dev at <%= link_to "Frontline Education", "https://www.frontlineeducation.com/Solutions/Recruiting_Hiring" %>.
      I'm also completing my masters thesis for my CS degree at <%= link_to "DePaul University", "http://www.cdm.depaul.edu/Pages/default.aspx" %>.
    </p>
  </div>
</div>

<div class="slice three">
  <div class="content">
    <p>
      Open-source projects are available for perusal on <%= link_to "GitHub", "https://bergren2.github.io" %>.
      You can also check out my CV/r&eacute;sum&eacute; on <%= link_to "StackOverflow", "https://stackoverflow.com/users/story/1159255" %>.
    </p>
    <p>
    If you need to contact me or just want to say hello, you can find me on
    <%= link_to "Twitter", "https://twitter.com/heymrbass" %> or you can shoot
    me an <%= link_to "email", "mailto:dan@heymrbass.com" %>. Cheers!
    </p>
  </div>
</div>
